# Environment variables
.env

# python cache
__pycache__/
*.py[cod]

# virtual environment
venv/

# Docker
docker-compose.yml

# Test
tests/
pytest_output.txt
test-results.txt
frontend-integration-guide.md

# Images dir
images/

# DB
u830440565_zonaquintas.sql